name: Build and Push to PyPI (and Test PyPI for testing)

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Determine Package Version
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            echo "version=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"
          else
            echo "version=0.0.0+${GITHUB_SHA}" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup UV
        uses: astral-sh/setup-uv@v7

      - name: Build Distributions
        env:
          PACKAGE_VERSION: ${{ steps.meta.outputs.version }}
        run: |
          chmod +x ./scripts/dist.sh
          ./scripts/dist.sh "$PACKAGE_VERSION"

      - name: Upload Distribution Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-dist
          path: ./temp/dist/

  publish-testpypi:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment:
      name: testpypi
      url: https://test.pypi.org/project/django-tasks-cloud/

    steps:
      - name: Download Distribution Artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-dist
          path: dist

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verbose: true

  publish-pypi:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/project/django-tasks-cloud

    steps:
      - name: Download Distribution Artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-dist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
